@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Smart Study</h1>
    <h4>Your Trusted Companion for Study Tracking</h4>

    <div class="btn-container align-content-center">
        <a class="btn btn-primary" asp-controller="Sessions" asp-action="Index">Track Sessions</a>
        <a class="btn btn-primary" asp-controller="Profile" asp-action="Index">View Profile</a>
    </div>
</div>